@tailwind base;
@tailwind components;
@tailwind utilities;

.content{
  width:100%;
  height: 100%;
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

 
}
.text-main{
  color:var(--main-color)

}
.text-bg{
  background-color: var(--main-color);
}
.bg-main{
  background-color: var(--main-color);
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #0aad0a;;
}


